@inherits UmbracoViewPage<Footer>

<footer class="footer">
    <div class="container">
        <div class="newsletter-part">
            <div class="row">
                <div class="col-lg-7">
                    <form class="newsletter-form" action="">
                        <input class="input" type="text" placeholder="@Umbraco.GetDictionaryValue("Newsletter Placeholder")" name="">
                        <button type="submit" class="btn-main submit" name="">@Umbraco.GetDictionaryValue("Newsletter Button")</button>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-2">
                    <ul class="socials">
                        <li>
                            <a href="@Model.Instagram"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="@Model.Linkedin"><span class="icon-linkedin"></span></a>
                        </li>
                        <li>
                            <a href="@Model.Twitter"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="@Model.Facebook"><span class="icon-facebook"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-part">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <div class="text">
                        <h2 class="title">@Model.Title</h2>
                        <p>@Model.Text</p>
                        @if (Model.Link != null)
                        {
                            <a href="@Model.Link.Url" class="link">@Model.Link.Name</a>
                        }
                    </div>
                </div>
                <div class="col-md-4 offset-md-1 col-lg-3 offset-lg-4">
                    <div class="contact-info">
                        <p>
                            <span class="title">@Model.ContactsTitle</span>
                            <a href="@Model.AddressUrl" target="_blank">
                                @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(Model.Address))
                            </a>
                            <br />
                            <a href="tel:@Model.Phone">
                                @Model.Phone
                            </a>
                        </p>
                        <p>
                            <span class="title">@Umbraco.GetDictionaryValue("Office Hours")</span>
                            @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(Model.OfficeHours))
                        </p>
                        <p>
                            @if (Model.ContactUsLink != null)
                            {
                                <a href="@Model.ContactUsLink.Url" class="link">@Model.ContactUsLink.Name</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-part">
            <p>
                @Model.Copyright
                @if (Model.PrivacyPolicyLink != null)
                {
                    <a href="@Model.PrivacyPolicyLink.Url" class="link">@Model.PrivacyPolicyLink.Name</a>
                }
            </p>
            <p class="kryzalid">
                Web design by
                <a href="www.kryzalid.net" target="_blank">
                    <img src="/images/icons/kryzalid.svg">
                </a>
            </p>
        </div>
    </div>
</footer>