@using Cim.Web.Controllers.Surface
@inherits UmbracoViewPage

@{
    var publishedContentService = new PublishedContentService(Umbraco);
}

<!-- Header -->
<header class="header">
    <div class="top-header">
        <div class="ctn">
            <div class="logo">
                <a href="/">
                    <div class="logo-img">
                        <img src="/images/logo-cim-icm.png" alt="">
                    </div>
                    <div class="logo-text">
                        @Html.Raw(Umbraco.GetDictionaryValue("Logo Text"))
                    </div>
                </a>
            </div>
            <div class="actions">
                <ul>
                    <li>
                        @(Html.Action<SharedController>("LanguageSwitcher"))
                    </li>
                    @if (!Members.IsLoggedIn())
                    {
                        <li>
                            <a href="#" class="btn-login">
                                <i class="fas fa-sign-in-alt ico-login"></i> @Umbraco.GetDictionaryValue("Log in")
                            </a>
                        </li>

                        <li>
                            <a href="@publishedContentService.GetCreateAccountPage().Url" class="login-btn">
                                <i class="fas fa-user-plus"></i> @Umbraco.GetDictionaryValue("Join")
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Umbraco/Surface/Users/Logout" class="login-btn">
                                <i class="fas fa-sign-out-alt ico-login"></i> @Umbraco.GetDictionaryValue("Log out")
                            </a>
                        </li>
                    }
                    <li class="show-sm hamburger">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @(Html.Action<SharedController>("Navigation"))
</header>