@using Cim.Web.Controllers.Surface
@using Cim.Web.Models.Users
@inherits UmbracoViewPage<LoginModel>

@{ 
    var publishedContentService = new PublishedContentService(Umbraco);

}

<div class="login-wrapper">
    <a href="#" class="btn-close-login">
        <i class="fal fa-times"></i>
    </a>
    <div class="login-head">
        <h3>Login</h3>
        <div class="login-content">
            <h2 class="text-center">Member Login</h2>
            <div class="form-login">
                @using (Html.BeginUmbracoForm<UsersController>("Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-controls">
                                @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "field", id = "LoginEmail" })
                                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->

                        <div class="form-row">
                            <div class="form-controls">
                                @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "field field-password", id = "LoginPassword" })
                                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                <a href="#" class="show-hide-pass">
                                    <i class="fal fa-eye"></i>
                                </a>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                    </div><!-- /.form-body -->

                    <div class="form-actions">
                        <button type="submit" class="form-btn">Log In</button>
                        <a href="#" class="btn-forgot-pass">Forgotten password?</a>
                    </div><!-- /.form-actions -->
                }
            </div><!-- /.login-content -->
        </div><!-- /.form-login -->
    </div><!-- /.login-head -->

    <div class="login-body">
        <h3>Join</h3>
        <div class="login-content">
            <h2>Not a member? <br>Register for a free account.</h2>
            <a href="@publishedContentService.GetCreateAccountPage().Url" class="btn-reg">Register</a>
        </div><!-- /.login-content -->
    </div><!-- /.login-body -->
</div><!-- /.login-wrapper -->
